<h1>CHAT</h1>

<div id="chatContainer">
    <div id="chatWindow">
        <div id="output"></div>
        <div id="actions"></div>
    </div>
    <div>
        <input type="text" id="messageInput">
        <input type="button" value="ENVIAR" id="sendButton">
    </div> 
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.1/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/chat.js"></script>