<h1>INICIAR SESIÓN</h1>

<div>
    <form>
        Email: <input type="text" name="email" id="emailLogin"><br><br>
        Contraseña: <input type="password" name="password" id="passwordLogin"><br><br>

        <input type="submit" value="INICIAR SESIÓN" id="sendButtonLogin">
    </form>
</div>

<div>
    <h3>No estoy registrado</h3>
    <button onclick="location.href='/register'">REGISTRARME</button>
</div>

<script src="/js/login.js"></script>