<h1>REGISTRO</h1>

<div>
    <form id="registerForm">
        Nombre: <input type="text" name="name"><br><br>
        Apellido: <input type="text" name="lastname"><br><br>
        Username: <input type="text" name="username"><br><br>
        Email: <input type="text" name="email"><br><br>
        Edad: <input type="number" name="age"><br><br>
        Contraseña: <input type="password" name="password"><br><br>

        <input type="submit" value="REGISTRAR">
    </form>
</div>

<div>
    <h3>Ya tengo una cuenta</h3>
    <button onclick="location.href='/login'">INICIAR SESIÓN</button>
</div>

<script src="/js/register.js"></script>